.home {
    --bd-purple: #3a0e76; /* Darker violet */
    --bd-violet: #4b0082; /* Deep violet */
    --bd-accent: #d4aaff;
    --bd-violet-rgb: 75,0,130; /* Adjusted for dark violet */
    --bd-accent-rgb: 212,170,255;
    --bd-pink-rgb: 180,30,90;

    .bd-masthead {
        padding: 3rem 0;
        background-image: 
            linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.2), rgba(var(--bs-body-bg-rgb), 1) 85%),
            radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.7), transparent 50%),
            radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.7), transparent 50%),
            radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.8), transparent 50%),
            radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.8), transparent 50%);
    }

    .btn-bd-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet);
        --bs-btn-border-color: var(--bd-violet);
        --bs-btn-border-radius: .5rem;
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #3a0e76;
        --bs-btn-hover-border-color: #3a0e76;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #2f0a5a;
        --bs-btn-active-border-color: #2f0a5a;
    }
}

.navbar {
    @extend .navbar-dark;

    --bd-violet-rgb: 75,0,130; /* Adjusted for dark violet */

    padding: .75rem 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--bd-violet-rgb), 1), rgba(var(--bd-violet-rgb), 0.85));
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15), inset 0 -1px 0 rgba(0,0,0,0.15);
}

.text-violet {
    color: #3a0e76;
}

.list {
    .card {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }
    }
}

.navbar-brand {
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: rotate(-2deg) scale(1.1);
    }
}
